<aside class="large-3 right columns">

  <h3 class="side-nav-color" >Categories</h3>
  <ul class="side-nav">
    <li class="active" id="resume-tech"><%= link_to "Technology", "/blogposts/display/tech", remote: true %></li>
    <li class="side-nav-inactive" id="resume-museum"><%= link_to "Museums", "/blogposts/display/museum", remote: true %></li>
    <li class="side-nav-inactive" id="resume-current"><%= link_to "Current Affairs", "/blogposts/display/current", remote: true %></li>
    <li class="side-nav-inactive" id="resume-general"><%= link_to "General Interest", "/blogposts/display/general", remote: true %></li>
  </ul>




</aside>
