<div class="row">
  <div class="large-12 columns">
    <h2>Welcome to my Blog !!</h2>
    <h2><small>Not too much content here yet.</small></h2>
    <hr />
  </div>
</div>
  <!-- Main Blog Content -->

<div id="blogpost-content">
  <%= render "blogposts" %>
</div>

<!-- Sidebar -->
<%= render "navigation" %>
