<h3 class="side-nav-color" >Art Folio</h3>
<ul class="side-nav">
  <li class="active" id="resume-oils1"><%= link_to "Oil Paintings", "/artfolio/index/oilpainting", remote: true %></li>
  <li class="side-nav-inactive" id="resume-drawings"><%= link_to "Drawings", "/artfolio/index/drawing", remote: true %></li>
</ul>
<p></p>
<p>The art works on this page were created by myself over the last ten years as a result of studies at the Art Student League in New York and the Chisel and Pallette Academy in Chicago. I hope you enjoy viewing them as much as I enjoyed producing them. Thanks for viewing !!</p>
