<p class="side-nav-active-target">About me</h6>

<p>I am a software developer with more than 15 years industry experience. My most recent positon was developing backend exchange connectivity software for the trading industry in Chicago. Previous to that I developed web based diagnostic tools to assist systems engineers in managing the global network for Bloomberg LP in New York. Their network at that time was reputed to be the third largest private data network in the world. </p>

<p>My current goal is to return to web/internet related development. I see it as an exciting and dynamic field where I can use both my technical as well as creative skills. To assist in attaining this goal I recently completed a three month web development class at the Starter League in Chicago where I acquired new web development skills.</p>

<p>Please review the rest of this resume for a more detailed account of my professional development. When you have finished I would be pleased if you would view my ArtFolio containing works of art produced by myself. I hope they demonstrate my creative side and that you enjoy viewing them.</p>


