<p class="side-nav-active-target">Languages and Skills</h6>

<p>Languages: Ruby, C++, Javascript, AJAX, HTML, CSS</p>

<p>Operating System: Linux, Unix, Windows</p>

<p>Frameworks and Tools: RAILS, .NET, Boost, STL, SQL</p>

<p>Databases: relational, propietary</p>
