<p class="side-nav-active-target">Recent Relevant Training</h6>

<p>Starter League, Chicago, IL March - June 2013</p>

<ul>
  <li>completed Starter League's web dev class where I reaquainted myself with the latest web technology by acquiring the skills needed to develop web applications with the Ruby on Rails framework</li>
  <li> participated in a class project to develop a facebook application that allows multi-user interactive photo album creation through a user's facebook login and the facebook developer API</li>
  <li> utilized AJAX, javascript, and jquery to provide a rich application interface and a positive user experience</li>
</ul>

<p>There are plans to continue with the development of the facebook photo album application and to go live sometime in future. Stay tuned !!</p>
