<p class="side-nav-active-target">Work History</h6>

<p>Systems Analyst, Archelon LLC, Chicago, IL April 2001 - Feb 2013</p>

<ul>
  <li>developed end to end real time low latency price servers where data is sourced from proprietary
  exchange tcp/udp feeds and delivery is the provision of fully decoded prices to database or to clients
  via tcp/udp or shared memory</li>
  <li> designed and developed order/quote routing libraries with an easy to use C++ object interface that
  managed exchange tcp trading sessions, packaged outgoing order/quotes, and decoded incoming responses</li>
  <li> developed a quote sharing application that aggregated quotes sourced from multiple clients and packaged and managed them as single quotes at the exchange</li>
  <li>implemented a real time data server for price delivery to MS Windows excel clients</li>
</ul>

<p>Software Developer, Bloomberg Financial Markets, New York, NY Oct 1997 - May 2000</p>

<ul>
  <li>developed WEB based diagnostic tool to statistically analyze traffic flow for a global wide network; backend was written in PERL and C++</li>
  <li>designed and configured a linux based system of servers to collect data from a global wide area network and statistically process data to serve to diagnostic clients</li>
  <li>participated in team development of  a WEB/JAVA end user application</li>
  <li>provided multimedia audio capabilities via Real Networks API to Windows multithreaded applications</li>
</ul>

<p>Senior Software Engineer, UCS, Inc, Golden CO Oct 1995 - June 1997</p>

<ul>
  <li>extended visual C++ to provide specialized view and document management</li>
  <li>explored and demonstrated varying GUI approaches to best present a user with a complex application</li>
  <li>aided in the development of an internally developed database that provided ODBC like connectivity</li>
  <li>project lead in the development of Windows based application to program Motorola two-way radios</li>
  <li>experience in scheduling software tasks for full first release of a software product</li>
</ul>
