<p class="side-nav-active-target">About This Website</h6>

<p>This website was created by myself using the Ruby on Rails framework. I utilized javascript and AJAX for the side bar navigation and the art paging to provide a smoother user experience. The art work paging was achieved via the kaminari gem. The front end is an extension of the Zurb Foundation Framework.</p>
<p></p>
<p class="bodyfontcolor">Thanks for visiting !!</p>
