<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p class="bodyfontcolor">&copy; 2013 Ronald P Lump All Rights Reserved </p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="/about/show">About</a></li>
          <li><a href="/contact/show">Contact Me</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
