<div class="row top-bg-color">
  <div class="large-12 columns">
    <ul class="inline-list left">
      <li><a href="/resume/show"  style="color:tomato;font-size:30px;">Ronald P Lump</a></li>
    </ul>
    <ul class="inline-list right" style="font-size:22px;text-decoration:underline">
      <li><a href="/resume/show">Resume</a></li>
      <li><a href="/artfolio/index">ArtFolio</a></li>
      <li><a href="/blogposts/display">Blog</a></li>
    </ul>
  </div>
</div>
