<%= content_for :main_content do %>
  <div class="row" style="margin-top:44px;">
    <div class="large-8 push-2 columns" style="margin-top:4px">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
